@import url(https://db.onlinewebfonts.com/c/40a15735398302b3d41fd11c805085f4?family=Mark+OT+Bold);
@import url(https://db.onlinewebfonts.com/c/450fdebcd9b47d4e245c0272405e0cf2?family=MarkOT-Medium);

* {
    margin: 0;
    padding: 0;
    font-family: "Mark OT Bold", sans-serif;
    box-sizing: border-box;
    /* "MarkOT-Medium" */
}


/* utils */

.headings {
    font-size: 95px;
    color: white;
    margin: 35px 80px;
    z-index: 2;
}
.zoom{
    transition: all 0.3s ease;
    
}
.animation{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.animation:hover .zoom {
    transform: scale(1.1);
}

.round-btn{
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #961612;
    margin: 0 5px;
    cursor: pointer;
}

.scroll-bar-hide::-webkit-scrollbar {
    display: none;
}

.btn-red {
    width: 126px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #da291c;
    color: white;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}

.btn-red:hover {
    background-color: #FAD002;
    color: black;
}
/* utils */


body {
    width: 100%;
    background-image: linear-gradient(#FBB417, #FFE600);
}
header {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.navbar {
    width: 1170px;
    height: 92px;
    background-color: #FFE600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 17px;

}

.logo {
    width: 92px;
    height: 92px;
    background-image: url('/images/logos/logo-lays.png');
    background-size: contain;
    background-repeat: no-repeat;


}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 960px;
    list-style: none;
    font-size: 19px;
    line-height: 1;
    font-weight: 500;
}

ul>li {

    letter-spacing: -1px;
    padding: 8px 15px;
    border-radius: 26px;
    cursor: pointer;
    transition: all .5s ease;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-image: url('/images/logos/search-icon.png');


}

.language {
    border: 1px solid black;
    width: 35px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    font-size: 19px;
    margin-right: 15px;
    margin-bottom: 2px;
    transition: all .5s ease;

}

.container--search {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

ul>li:hover,
.language:hover {
    background-color: #F13128;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-main {
    width: 1170px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
}

.banner-first {
    height: 425px;
    width: 1170px;
    background-image: url('/images/banners/banner-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.products {
    height: 771px;
    width: 1170px;
    background-color: #F13128;
    position: relative;
    display: flex;
    flex-direction: column;
}

.products-top {
    width: 1170px;
    height: 23%;
    background-image: url('/images/banners/bg-products-top.jpg');


}



.products-bottom {
    width: 1170px;
    height: 23%;
    background-image: url('/images/banners/bg-products-bottom.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 0;


}

.products-container {
    align-self: flex-end;
    width: 1170px;
    height: 594px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-cards-container {

    width: 86%;
    height: 516px;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
    cursor: pointer;
    user-select: none;


}

.product-cards {
    width: 336px;
    height: 516px;
    flex-shrink: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-images {
    width: 100%;
    height: 336px;
    overflow: hidden;
}

.product-images>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.product--text {
    color: white;
}


.btn-product {
    margin-bottom: 20px;
}

.animation:hover .btn-product {
    background-color: #FAD002;
    color: black;
}

.product--text,
.btn-product {
    margin-left: 15px;
}

.lays {
    margin-bottom: 40px;
}

.products-btn {
    width: 50px;
    height: 50px;
}

.products-btn>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.round-btn-container {
    height: 12%;
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    z-index: 1;
}



.selected {
    background-color: #FFE600;
}

.round-btn:hover {
    background-color: #FFE600;
}

.recipes {
    height: 726px;
    width: 100%;
    background-color: #F6BE07;
    position: relative;
}

.recipes-top {
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #F6BF06;
    

}

.recipes-img {
    height: fit-content;
    width: 69%;
    position: absolute;
    right: 0;
    top: 0;

    
}

.recipes-img>img {

    height: 100%;
    width: 100%;
    object-fit: contain;
    
}

.recipes-card-container {
    background-color: #F6BF06;
    width: 100%;
    height: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.recipes-cards {
    background-color: #F6BF06;
    height: 100%;
    width:1010px ;
    display: grid;
    grid-template-columns: repeat(5, 314px);
    gap: 34px;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}


.recipes-card {
    background-color: #084066;
    height: 100%;
    display: flex ;
    flex-direction: column;
    
    
}

.recipes-image{
    background-color: aqua;
    grid-area: a;
    max-height: 280px;
    overflow: hidden;
}
.recipes-card-bottom{
    background-color: #FFE003;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.recipes-image>img{
    object-fit: contain;
}
.recipes-text{
    width: 100%;
    height: 50%;
    padding: 30px 30px;
}
.recipes-btn-area{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
}
.btn-recipes{
    background-color: #DA291C;
    height: 40px;
    width: 155px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    color: white;
    
}
.rating{
    width: 68px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.rating >p{
    font-size: 16px;
    color: black;
}
.recipes-bottom-banner{
    width: 254px;
    height: 39px;
    background-image: url("/images/banners/recipes-bottom.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;
    bottom: 0;
}
.recipes-round-btn-container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.recipes-round-btn{
    background-color: white;
}
.recipes-round-btn:hover{
    background-color: black;
}
.recipes-btn-selected{
    background-color: black;
}
.fa-star{
  color: rgb(0, 0, 0);
  
}
.animation:hover .btn-recipes{
    background-color: #4b8ef2;
    color: black;
    transition: all .3s ease;
}
.animation:hover .fa-star{
    color: #4b8ef2;
    animation: pulse .4s 1;
    transition: all .3s ease;
}
.videos{
    width: 100%;
    height: 638px;
    background-color: #00AB4E;
    position: relative;
}
.videos-banner-top{
 width: 100%;
 height: 50%;
 background-image: url('/images/banners/videos-top.jpeg');
 background-size: contain;
 background-repeat: no-repeat;
 position: absolute;
 top: 0;
}
.videos-banner-bottom{
    width: 100%;
    height: 46%;
    background-image: url('/images/banners/videos-bottom.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
   }
.videos-main-container{
    height: 61%;
    width: 100%;
    position: relative;
    top: 27%;
    z-index: 2;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.videos-container{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    
}
.video-img{
    width:58%;
    height: 100%;
    margin-left: 50px;
    overflow: hidden;
    position: relative;
}
.video-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.yt-play{
    width: 64px;
    height: 48px;
    border-radius: 13px;
    background-color: #961612;
    position: absolute;
    background-image: url('/images/logos/youtube-play.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 44%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}
.video-text{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.video-text >h1{
    font-size: 40px;
    color: white;
    margin-bottom: 15px;
}
.btn-video{
    width: 145px;
}
.videos-round-btn-container{
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 45px;
    z-index: 4;
    display: flex;
    padding-left: 33%;
}

.videos-round-btn{
    background-color: #01612C;
}
.videos-round-btn:hover{
    background-color: #DA291C;
}
.videos-round-btn-container >.selected{
    background-color: #DA291C;
}
.get-social{
    width: 100%;
    height: 791px;
    background-color: #7122a5;
    position: relative;
}
.get-social-top-banner{
    width: 100%;
    height: 22%;
    background-color: #DA291C;
    background-image: url('/images/banners/social-top.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}